div {
    margin:  20px;
}
p {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
button {
    background-color: gray;
    color: white;
    width: 65px;
    height: 35px;
}
button:hover {
    background-color: black;
    cursor: pointer;
}
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
}