div {
    margin:  20px;
}
p {
    color: black;
    font-size: large;
    font-weight: bold;
}
button {
    background-color: gray;
    color: white;
    width: 65px;
    height: 35px;
}
button:hover {
    background-color: black;
}
.read-button {
    background-color: white;
    width: 65px;
    height: 21px;
    color: black;
}
.read-button:hover{
    background-color: black;
    color: white;
}