p {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto', sans-serif;
}
button {
    background-color: gray;
    color: white;
    width: 90px;
    height: 50px;
    font-size: larger;
}
button:hover {
    background-color: black;
    cursor: pointer;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: black;
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto', sans-serif;
}
.table-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}
#data-table {
    width: 100%;
    border-collapse: collapse;
}
#data-table th, #data-table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: 'Barriecito', cursive;
    font-family: 'Neuton', serif;
    font-family: 'Pangolin', cursive;
    font-family: 'Roboto', sans-serif;
}
#data-table th {
    background-color: gray;
}
#data-table tbody tr:nth-child(even) {
    background-color: lightgray;
}
#data-table tbody tr:hover {
    background-color:lightsteelblue;
}
#form input[type="text"],
#form input[type="number"] {
    font-size: 20px;
    padding: 15px;
    width: 25%;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}
.button-container {
    text-align: center;
    justify-content: center; 
}
th.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.social h5 {
    display: inline-block; /* Change from display: block; to display: inline-block; */
    margin-right: 22px;
    margin-bottom: 30px;
}

.social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    font-size: 17px;
    color: white; /* Change to a contrasting color for better readability */
}

.social a:hover {
    transform: scale(1.1);
    background: black; /* Change to a different color on hover */
    transition: 0.5s;
}
#updateForm input {
    margin: 20px 0;
}
